nav {
background-color: #001d3d;
padding: 20px;
}
nav > span{
  color: white;
  text-transform: uppercase;
}
body{
  background-color: whitesmoke;
}
.display{
  display: flex;
  flex-wrap: wrap;
}
.hero-img{
  width: 100%;
  object-fit: contain;
}
.card{
  max-width: 500px;
  margin: 20px;
}
