{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block content %}
 
    <div class="display">
      {% for hero in characters %}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="{{hero.image}}" class="rounded-start hero-img" alt="...">
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="card-body">
                  <h5 class="card-title">{{hero.name}}</h5>
                  <p class="card-text">{{hero.description}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
{% endblock content %}