{% extends 'base.html' %}
{% block title %}
  {{character.name}}
{% endblock title%}
{% block content %}

    <div class="row row-profile">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="{{character.image_path}}"  alt="{{character.name}} poster">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2>{{character.name}}</h2>
          <div>
            <p>{{character.description}}</p>
            <small><a href="{{character.link}}">Read More</a></small>
          </div>

      </div>
    </div>
    <hr>
      <div class="row character-row">
        <small>{{comics|length}} comics</small>
        <div class="comic-display">
            {% for comic in comics %}
              <div class="comic-info">
                <img src="{{comic.image_path}}" class="rounded-start comic-img" alt="{{comic.title}} comic">
                <div class="middle">
                  <h3 class="title">{{comic.title}}</h3>
                </div>
              </div>
          {% endfor %}
          </ul>
        </div>
      </div>
     

{% endblock content %}