{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<section>
  <div class="wrap">
      <form class="search" action="{% url 'search' %}" method="GET">
        <input type="text" class="searchTerm" name="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
         </svg>
       </button>
      </form>

 </div>
 </section>
  <br>
    <section>
      <div class="display">
        {% for hero in characters %}
            <div class="card mb-3">
              <div class="row g-0">
                <div class="img-col col-md-6">
                  <img src="{{hero.image_path}}" class="hero-img rounded-start" alt="{{hero.name}} poster">
                </div>
  
                <div class="text-col col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">{{hero.name}}</h5>
                    <p class="card-text">{{hero.description |truncatechars:100}}</p>
                   <a href="{% url 'character_page' hero.id %}">Read More</a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="actions">
        {% if characters.has_previous %}
        <a href="{% url 'home' %}?page={{characters.previous_page_number}}">

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#58355e" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </a>
      {% endif %}
      {% if characters.has_next %}
      <a href="{% url 'home' %}?page={{characters.next_page_number}}">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#58355e" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
      </a>
      {% endif %}
      </div>
    </section>
{% endblock content %}